{% load static %}

<!-- Header -->
<header style="border-bottom: 1px solid #eee;">
  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->

    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #3da2eb;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                      <a class="navbar-brand ml-5 h1" href="{% url 'cars_list_url' %}">МосАвтоТорг</a> 
                </li>
              </ul>
            </div>   
            <div class="ml-auto">   
            {% if user.is_anonymous %}
              <a href="/user/register/"><button type="button" class="btn btn-outline-light">Регистрация</button></a>
                
            {% endif %}    
                    {% if not user.is_anonymous %}
                      <span>
                        Вы вошли, как
                        <strong>{{ user }}</strong>.
                      </span>
                      <a href="{% url 'logout' %}" class="logout-btn btn btn-danger" role="button">Выйти</a>
                    {% else %}
                      <a href="/user/login/"><button type="button" class="btn btn-outline-light">Авторизация</button></a>
                    {% endif %}    
              </div>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'cars_list_url' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск авто" aria-label="Search" name="search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Искать</button>
            </form>
        </div>
    </nav>
    <!-- End Navbar -->

</header>
<!-- End Header -->
