{% load thumbnail %}

<li class="media mb-4">
<a href="{{ car.get_absolute_url }}">
{% with car.all_images.all.0 as img %}
    {% thumbnail img.image_data_link "250x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ car.car_title }}" class="mr-3">
    {% endthumbnail %}  
{% endwith %}
</a>
  <div class="media-body">
    <a class="text-decoration-none" href="{{ car.get_absolute_url }}">
    <h5 class="mt-0 mb-1">{{ car.car_brand|title }} {{ car.car_model|title }}, {{ car.year_of_manufacture }}</h5>
    </a>
    <p class="card-text"><small class="text-muted">{{ car.price }} Р</small></p>
    <p class="card-text"><small class="text-muted">{{ car.car_mileage }} км, {{ car.engine_type }}, {{ car.engine_volume }} л, {{ car.transmission }}</small></p>                  
    <p class="card-text"><small class="text-muted">{{ car.view_place|title }}</small></p>
    <p class="card-text"><button type="button" class="btn btn-outline-secondary" disabled>{{ car.pub_date }}</button></p>
  </div>
</li>

    


