<div class="card-body">
    
        <div class="card mb-3 border-0" >
            <div class="row">
              <div class="col-md-4 align-self-center">
                <a href="{{ car.get_absolute_url }}" class="card-link">
                <div class="box">
                  {% for image in car.all_images.all %}
                    {% if forloop.first %}
                        <img src="{{ image.image_data_link.url }}" alt="{{ car.car_title }}">
                    {% endif %}
                  {% endfor %}
                </div>
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="{{ car.get_absolute_url }}" class="card-link">
                    <h5 class="card-title">{{ car.car_title }}</h5>
                  </a>
                  <p class="card-text"><small class="text-muted">{{ car.price }} Р</small></p>
                  <p class="card-text"><small class="text-muted">{{ car.car_mileage }} км, {{ car.engine_type }}, {{ car.engine_volume }} л, {{ car.transmission }}</small></p>                  
                  <p class="card-text"><small class="text-muted">{{ car.view_place }}</small></p>
                  <p class="card-text"><small class="text-muted">{{ car.pub_date }}</small></p>
                </div>
              </div>
            </div>
          </div>
</div>