{% load thumbnail %}

<div class="row mb-5">
  <div class="col-md-3 ml-auto">
    <a href="{{ car.get_absolute_url }}">
    <div class="box">
      {% with car.all_images.all.0 as img %}
          {% thumbnail img.image_data_link "250x200" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ car.car_title }}">
          {% endthumbnail %}  
      {% endwith %}
    </div>
    </a>
  </div>
  <div class="col-md-6">
      <a class="text-decoration-none" href="{{ car.get_absolute_url }}">
        <h5 class="card-title ">{{ car.car_brand|title }} {{ car.car_model|title }}, {{ car.year_of_manufacture }}</h5>
      </a>
      <p class="card-text"><small class="text-muted">{{ car.price }} Р</small></p>
      <p class="card-text"><small class="text-muted">{{ car.car_mileage }} км, {{ car.engine_type }}, {{ car.engine_volume }} л, {{ car.transmission }}</small></p>                  
      <p class="card-text"><small class="text-muted">{{ car.view_place|title }}</small></p>
      <p class="card-text"><button type="button" class="btn btn-outline-secondary" disabled>{{ car.pub_date }}</button></p>
  </div>
</div>

