{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            Доска объявлений
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand ml-5" href="{% url 'cars_list_url' %}">МосАвтоТорг</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'cars_list_url' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск авто" aria-label="Search" name="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Искать</button>
        </form>
    </div>
</nav>

<div class="container mt-5 mb-5">
    {% block content %}
        Объявлений нет.
    {% endblock %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto">
            {% if is_paginated %}
                <nav aria-label="...">
                    <ul class="pagination">
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url}}" tabindex="-1" aria-disabled="true">Назад</a>
                    </li>
                    
                    {% for n in page_object.paginator.page_range %}
                            {% if page_object.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a></a>
                                </li>
                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                            {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url}}" tabindex="-1" aria-disabled="true">Вперед</a>
                    </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>

{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
        <a href='/admin' class="btn btn-outline-info">Админка</a>
        {% block admin-panel %}{% endblock %}
    </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>