.admin-panel{
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    opacity: 0.4;
    padding: 15px;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a{
    display: block;
    margin: 5px 0;
}

a.edit, a.delete {
    display: none;
}

.img-block img{
    object-fit: cover;
    width: 208px;
    height: 156px;
}

.img-block-full img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.box {
    position: relative;
    overflow:hidden;
    width:250px;
    height:200px;
 }
 
 .box img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:250px;
    height:200px;
    object-fit:cover;
 } 

 .gallery-img-wrapper {
    border: 1px solid rgb(199, 199, 199);

    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 478px;
    width: 636px;
    overflow: hidden;

}

.gallery-img-cover {
    position: absolute;
    display: block;    
    top: -13px;    
    left: -13px;    
    right: -13px;    
    bottom: -13px;    
    background: no-repeat center;    
    background-image: none;
    background-size: auto;    
    background-image: none;    
    background-size: auto;    
    background-size: cover;    
    -webkit-filter: blur(13px);    
    filter: blur(13px);    
    opacity: .4;
}

.gallery-img-frame {

    display: inline-block;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

}

.gallery-img-frame img {
    position: relative;
    width: auto;
    height: auto;
}

.gallery-img-frame::after {

    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;

}

.gallery-img-frame {

    cursor: pointer;

}