body {
    padding-bottom: 5px;
}

.admin-panel{
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    opacity: 0.4;
    padding: 15px;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a{
    display: block;
    margin: 5px 0;
}

a.edit, a.delete {
    display: none;
}

.img-block img{
    object-fit: cover;
    width: 208px;
    height: 156px;
}

.img-block-full img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.box {
    position: relative;
    overflow:hidden;
    width:250px;
    height:200px;
 }
 
 .box img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit:cover;
 } 

 .gallery-img-wrapper {
    border: 1px solid rgba(182, 182, 182, 0.747);

    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 478px;
    width: 636px;
    overflow: hidden;

}

.gallery-img-cover {
    position: absolute;
    display: block;    
    top: -60px;    
    left: 0px;    
    right: 0px;    
    bottom: -60px;    
    background: no-repeat center;    
    background-image: none;
    background-size: auto;    
    background-image: none;    
    background-size: auto;    
    background-size: cover;    
    -webkit-filter: blur(10px);    
    filter: blur(10px);    
    opacity: .6;
}

.gallery-img-frame {

    display: inline-block;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;

}

.gallery-img-frame img {
    position: relative;
    width: auto;
    height: auto;
}

.gallery-img-frame::after {

    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;

}

.gallery-img-frame {
    cursor: pointer;

}

.item-params-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 15px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    margin-bottom: -8px;
    line-height: 20px;
}
ol, ul {
    list-style: none;
}

.item-params {
    font-size: 16px;
    line-height: 25px;
}
.item-view-block {    
    padding: 20px 0;
}

.item-params-list-item {
    min-width: 260px;
    padding-bottom: 8px;
    font-size: 16px;
    page-break-inside: avoid;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-params-label {
    color: rgba(0,0,0,.44);
}
 label, li, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: rgb(253, 254, 255);
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(0, 82, 163);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}