{% extends 'bulletin_board/base_main.html' %}

{% block title %}
    Добавить объявление - {{ block.super }}
{% endblock %}

{% block content %}
    <form class="" action="{{ car.car_create_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
    
        <button type="submit" name="button" class="btn btn-primary">Добавить объявление</button>
        <a href="{% url 'cars_list_url' %}">Отмена</a>
    </form>
{% endblock %}